<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Avatar
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/personVector.png"></ion-img>
      </ion-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-chip color="primary">
    <ion-avatar>
      <img src="/assets/personVector.png">
    </ion-avatar>
    <ion-label>Usuario Promedio</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item class="ion-no-border">
      <ion-avatar slot="start">
        <img src="/assets/personVector.png">
      </ion-avatar>
      <ion-label>Usuario Promedio</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
